<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocation POC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Geolocation POC</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-location-display [locationInfo]="locationInfo$ | async"></app-location-display>

  <pre class="ion-padding">locationInfo$: {{locationInfo$ | async | json}}</pre>

</ion-content>
